# OpenAI 配置
# OPENAI_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJCcFFZQWJvQzZhNnZhVUVqZ1B5dzh6T0lsdlYwcldKSyJ9.E0zbfrGmcm9NKzIpt63m1T5BJQB1GVluKKPu_CqlbHc
# OPENAI_MODEL=gemini-3_1-pro-preview
# OPENAI_BASE_URL=https://llm-gateway-proxy.inner.chj.cloud/llm-gateway/v1beta/models/

OPENAI_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJtTTU4UjVORmc1cmQ3d1k5QzlkMnh5Tzc0V0tlbTFncCJ9.dqmasobLPkLmNcSqHthi4W9JS-x4esb7NSfWwHbovXQ
OPENAI_MODEL=gemini-3-pro-image-preview
OPENAI_BASE_URL=https://llm-gateway-proxy.inner.chj.cloud/llm-gateway/v1beta/models/

# GOOGLE_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJtTTU4UjVORmc1cmQ3d1k5QzlkMnh5Tzc0V0tlbTFncCJ9.dqmasobLPkLmNcSqHthi4W9JS-x4esb7NSfWwHbovXQ
# GOOGLE_API_BASE_URL=https://llm-gateway-proxy.inner.chj.cloud/llm-gateway/v1beta/models/gemini-3-pro-image-preview:generateContent

GOOGLE_API_KEY=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJCcFFZQWJvQzZhNnZhVUVqZ1B5dzh6T0lsdlYwcldKSyJ9.E0zbfrGmcm9NKzIpt63m1T5BJQB1GVluKKPu_CqlbHc
GOOGLE_API_BASE_URL=https://llm-gateway-proxy.inner.chj.cloud/llm-gateway/v1beta/models/gemini-3_1-pro-preview:generateContent

# ===== Jimeng text2video =====
# 必填
JIMENG_URL=https://api-hub.inner.chj.cloud/bcs-apihub-tools-proxy-service/tool/v1/supplier/volcengine/jimeng-t2v-v30
JIMENG_SECRET=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJCcFFZQWJvQzZhNnZhVUVqZ1B5dzh6T0lsdlYwcldKSyJ9.E0zbfrGmcm9NKzIpt63m1T5BJQB1GVluKKPu_CqlbHc

# ===== Jimeng I2V（图生视频）=====
X_CHJ_GWTOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJCcFFZQWJvQzZhNnZhVUVqZ1B5dzh6T0lsdlYwcldKSyJ9.E0zbfrGmcm9NKzIpt63m1T5BJQB1GVluKKPu_CqlbHc

# 可选
JIMENG_METHOD=POST
JIMENG_AUTH_HEADER=Authorization
JIMENG_AUTH_PREFIX=Bearer
JIMENG_EXTRA_HEADERS={"Content-Type":"application/json"}
JIMENG_BODY_TEMPLATE={"prompt":"{{prompt}}"}
